<ion-modal-view class="modal-reserve">
  <ion-content class="has-modal-footer pad-ms">
    <div>
      <div class="reserve-box">
        {{ 'CONFIRM' | translate }}
        <div class="product-qty">
          <span>
                {{'CLICK_CONFIRM_TO_CONFIRM_THE_COMPLETION_OF_PAYMENT' | translate}}
          </span>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="modal-footer">
    <button class="button button-clear button-energized pull-left" ng-click="viewConfirmBox.back()">{{ 'CANCEL' | translate }}</button>
    <button class="button button-clear button-energized pull-right" ng-click="confirmPayment()">{{ 'CONFIRM' | translate }}</button>

  </div>
</ion-modal-view>
